.app-match {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    min-width: 360px;

    &.home-nav {
        box-shadow: -1px 4px 23px rgba(65, 82, 125, 0.1);
        margin-top: -90px;
    }

    span {
        font-family: 'Poppins', sans-serif;
    }

    &-header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            font-size: 11px;
            font-weight: bold;
            color: #101010;
            margin-left: 5px;
        }
    }


    .score-board {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .team {
            display: flex;
            flex-direction: column;
            text-align: center;

            span {
                margin-top: 10px;
                text-transform: uppercase;
                color: #101010;
                font-size: 11px;
                font-weight: bold;
            }

            img {
                height: 62px;
                width: 62px;
                border-radius: 100%;
                background: #F1F2F5;
                padding: 5px;
                object-fit: cover;
            }
        }

        .scores {
            text-align: center;
            position: absolute;
            left: 0;
            margin: 0 auto;
            right: 0;

            span {
                font-size: 30px;
                text-transform: uppercase;
                color: #101010;
                font-weight: bold;
                display: block;

                &.quarter {
                    background: #A9CAF1;
                    border-radius: 11.5px;
                    color: #0A4B97;
                    font-size: 9px;
                    width: 77px;
                    height: 16px;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                }
            }
        }
    }
}