<div class="app-navbar">
    <div class="logo-container">
        <img src="../../assets/logo.png" alt="" class="logo">
        <span class="balance">
            {{
                user.creditPoints | currency: 'PHP': 'symbol': '1.2-2'
            }}
        </span>
    </div>
    <div class="app-navbar-content">
        <div class="app-navbar-user">
            <img src="../../../assets/profile.jpg" alt="">
            <div class="app-navbar-user_heading">
                <span class="greeting">Hello,</span>
                <span>{{ user.firstName }} {{ user.lastName }}</span>
            </div>
        </div>
        <div class="app-navbar-menu">
            <button>
                <img src="../../assets/bell.svg" alt="">
            </button>
            <button (click)="toggleMenu()">
                <img src="../../assets/burger.svg" alt="">
            </button>
        </div>
    </div>
</div>
<app-menu></app-menu>