<div class="app-matches">
    <div class="app-matches-header">
        <h3>
            Upcoming Matches
        </h3>
        <span>
            See All
            <img src="../../assets/right-chevron.svg" alt="">
            <img src="../../assets/right-chevron.svg" alt="">
        </span>
    </div>
    <div class="app-matches-items">
        <div class="app-matches-item">
            <div class="team-info">
                <div class="date">
                    <span>01:30PM</span>
                    <span>May 23, 2023</span>
                </div>
                <div class="teams">
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png"
                            alt="">
                        <span>MIAMI HEAT</span>
                    </div>
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/65/Celtics_de_Boston_logo.svg/1024px-Celtics_de_Boston_logo.svg.png"
                            alt="">
                        <span>BOSTON CELTICS</span>
                    </div>
                </div>
            </div>
            <div class="action">
                <button>
                    View
                </button>
            </div>
        </div>
        <div class="app-matches-item">
            <div class="team-info">
                <div class="date">
                    <span>01:30PM</span>
                    <span>May 23, 2023</span>
                </div>
                <div class="teams">
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png"
                            alt="">
                        <span>MIAMI HEAT</span>
                    </div>
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/65/Celtics_de_Boston_logo.svg/1024px-Celtics_de_Boston_logo.svg.png"
                            alt="">
                        <span>BOSTON CELTICS</span>
                    </div>
                </div>
            </div>
            <div class="action">
                <button>
                    View
                </button>
            </div>
        </div>
        <div class="app-matches-item">
            <div class="team-info">
                <div class="date">
                    <span>01:30PM</span>
                    <span>May 23, 2023</span>
                </div>
                <div class="teams">
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png"
                            alt="">
                        <span>MIAMI HEAT</span>
                    </div>
                    <div class=team>
                        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/65/Celtics_de_Boston_logo.svg/1024px-Celtics_de_Boston_logo.svg.png"
                            alt="">
                        <span>BOSTON CELTICS</span>
                    </div>
                </div>
            </div>
            <div class="action">
                <button>
                    View
                </button>
            </div>
        </div>
    </div>
</div>