.app-menu {

    &:after {
        transition: all .3s ease;
        opacity: 0;
        position: fixed;
        content: "";
        background: #000;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

    }

    &.active {

        .app-menu-content {
            transform: translateY(0);
        }

        &:after {
            opacity: 0.15;
            z-index: 0;
        }
    }

    &-content {

        background: #FFFFFF;
        box-shadow: -1px 4px 23px rgba(65, 82, 125, 0.1);
        border-radius: 10px;
        width: 300px;
        padding: 20px;
        margin: 0 auto;
        left: 0;
        right: 0;
        z-index: 999;
        position: fixed;
        bottom: -20px;

        transition: all 0.5s cubic-bezier(0.39, 0.49, 0.35, 1.34);
        transform: translateY(100%);



        button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            opacity: 0.8;

            img {

                width: 20px;
            }
        }
    }

    span {
        font-size: 10px;
        font-weight: bold;
        color: #11529f;
    }

    span,
    li {
        font-family: 'Poppins';
    }

    ul {
        padding-left: 0;
        margin-top: 5px;

        li {
            list-style-type: none;
            font-size: 15px;
            margin-bottom: 5.5px;
            padding: 5px 0;
            display: flex;
            align-items: center;
            font-weight: 500;

            img {
                width: 15px;
                margin-right: 15px;
            }
        }
    }
}