<div class="app-match app-wrapper">
    <app-internalnav></app-internalnav>
    <div class="tabs">
        <button class="active">Score</button>
        <button>Action</button>
        <button>Stats</button>
    </div>
    <app-featured></app-featured>
    <div class="action">
        <button>View Live
            <img src="../../../assets/eye.svg" alt=""></button>
        <button>Stats Review
            <img src="../../../assets/play.svg" alt=""></button>
    </div>
    <div class="quarter-board">
        <div class="legend">
            <div class="left"></div>
            <div class="center quarters">
                <span>Q1</span>
                <span>Q2</span>
                <span>Q3</span>
                <span>Q4</span>
            </div>
            <div class="right">
                <span>Total</span>
            </div>
        </div>
        <div class="teams">

            <div class="team">
                <div class="left logo">
                    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Miami_Heat_-_Logo.svg/1200px-Miami_Heat_-_Logo.svg.png" alt="">
                </div>
                <div class="center scores">
                    <span>21</span>
                    <span>1</span>
                    <span>23</span>
                    <span>23</span>
                </div>
                <div class="right total">
                    <span>121</span>
                </div>
            </div>
            <div class="team">
                <div class="left logo">
                    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/6/65/Celtics_de_Boston_logo.svg/1024px-Celtics_de_Boston_logo.svg.png" alt="">
                </div>
                <div class="center scores">
                    <span>21</span>
                    <span>1</span>
                    <span>23</span>
                    <span>23</span>
                </div>
                <div class="right total">
                    <span>121</span>
                </div>
            </div>
        </div>
    </div>
</div>